<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>topField</key>
	<dict>
		<key>170</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>132</key>
		<dict>
			<key>goods_weight</key>
			<string>物品重量</string>
			<key>goods_value</key>
			<string>物品价值</string>
			<key>pickup_time</key>
			<string>取件时间</string>
			<key>pickup_addr</key>
			<string>取件地址</string>
			<key>trans_addr</key>
			<string>中转地址</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>141</key>
		<dict>
			<key>passengers</key>
			<string>乘坐人数</string>
			<key>pickup_time</key>
			<string>接客时间</string>
			<key>pickup_addr</key>
			<string>接客地址</string>
			<key>description</key>
			<string>行李说明</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>114</key>
		<dict>
			<key>goods_name</key>
			<string>商品名称</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>amount</key>
			<string>代购金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>163</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>131</key>
		<dict>
			<key>goods_weight</key>
			<string>物品重量</string>
			<key>goods_value</key>
			<string>物品价值</string>
			<key>pickup_time</key>
			<string>取件时间</string>
			<key>pickup_addr</key>
			<string>往返地址</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>中转地址</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>181</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>182</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>190</key>
		<dict>
			<key>goods_addr</key>
			<string>商品地址</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>arrive_city</key>
			<string>送达城市</string>
			<key>amount</key>
			<string>代购金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>196</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_date</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>192</key>
		<dict>
			<key>passengers</key>
			<string>乘坐人数</string>
			<key>description</key>
			<string>行李说明</string>
			<key>pickup_time</key>
			<string>接客时间</string>
			<key>pickup_addr</key>
			<string>接客地址</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>195</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_time</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>193</key>
		<dict>
			<key>instruction</key>
			<string>物件说明</string>
			<key>pickup_time</key>
			<string>接货时间</string>
			<key>pickup_addr</key>
			<string>接货地址</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>191</key>
		<dict>
			<key>goods_weight</key>
			<string>物品重量</string>
			<key>goods_value</key>
			<string>物品价值</string>
			<key>pickup_addr</key>
			<string>取件地址</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>197</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_date</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>120</key>
		<dict>
			<key>hospital</key>
			<string>所在医院</string>
			<key>subject</key>
			<string>挂号科目</string>
			<key>reg_time</key>
			<string>挂号时间</string>
			<key>address</key>
			<string>医院名称</string>
			<key>doc_level</key>
			<string>医生级别</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>111</key>
		<dict>
			<key>goods_name</key>
			<string>商品名称</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>amount</key>
			<string>代购金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>162</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>122</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_time</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>130</key>
		<dict>
			<key>goods_weight</key>
			<string>物品重量</string>
			<key>goods_value</key>
			<string>物品价值</string>
			<key>pickup_time</key>
			<string>取件时间</string>
			<key>pickup_addr</key>
			<string>取件地址</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>184</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>154</key>
		<dict>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>160</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>171</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>121</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_time</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>183</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>151</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>150</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>152</key>
		<dict>
			<key>food_taste</key>
			<string>菜肴口味</string>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>142</key>
		<dict>
			<key>instruction</key>
			<string>物件说明</string>
			<key>pickup_time</key>
			<string>接货时间</string>
			<key>pickup_addr</key>
			<string>接货地址</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>161</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>110</key>
		<dict>
			<key>goods_name</key>
			<string>商品名称</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>amount</key>
			<string>代购金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>113</key>
		<dict>
			<key>mart_place</key>
			<string>指定场所</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>amount</key>
			<string>代购金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>172</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>153</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>140</key>
		<dict>
			<key>passengers</key>
			<string>乘车人数</string>
			<key>tips</key>
			<string>应急小费</string>
			<key>pickup_time</key>
			<string>接客时间</string>
			<key>pickup_addr</key>
			<string>接客地址</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>description</key>
			<string>行李说明</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>185</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>174</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>143</key>
		<dict>
			<key>car_type</key>
			<string>车型信息</string>
			<key>pickup_time</key>
			<string>接客时间</string>
			<key>pickup_addr</key>
			<string>接客地址</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>serve_miles</key>
			<string>任务距离</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>180</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>level</key>
			<string>服务等级</string>
			<key>goods_name</key>
			<string>物品名称</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>164</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>17</key>
		<dict>
			<key>arrive_time</key>
			<string>到达时间</string>
			<key>arrive_addr</key>
			<string>到达地址</string>
			<key>serve_time</key>
			<string>服务时间</string>
			<key>level</key>
			<string>服务等级</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>112</key>
		<dict>
			<key>drugs_brand</key>
			<string>药品品牌</string>
			<key>drugs_name</key>
			<string>药品名称</string>
			<key>arrive_time</key>
			<string>送达时间</string>
			<key>arrive_addr</key>
			<string>送达地址</string>
			<key>amount</key>
			<string>药品金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
		<key>123</key>
		<dict>
			<key>work_addr</key>
			<string>办事地址</string>
			<key>work_matter</key>
			<string>办事事项</string>
			<key>finish_time</key>
			<string>完成时间</string>
			<key>amount</key>
			<string>金额</string>
			<key>detail</key>
			<string>服务描述</string>
		</dict>
	</dict>
	<key>downField</key>
	<dict>
		<key>110</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>商品金额</string>
			<key>goods_amount</key>
			<string>代购金额</string>
		</dict>
		<key>111</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>商品金额</string>
			<key>goods_amount</key>
			<string>代购金额</string>
		</dict>
		<key>112</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>商品金额</string>
			<key>goods_amount</key>
			<string>代购金额</string>
		</dict>
		<key>113</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>商品金额</string>
			<key>goods_amount</key>
			<string>代购金额</string>
		</dict>
		<key>114</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>商品金额</string>
			<key>goods_amount</key>
			<string>代购金额</string>
		</dict>
		<key>120</key>
		<dict>
			<key>work_fee</key>
			<string>挂号费用</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>服务费用</string>
		</dict>
		<key>121</key>
		<dict>
			<key>work_fee</key>
			<string>办事费</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
		<key>122</key>
		<dict>
			<key>work_fee</key>
			<string>办事费</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
		<key>123</key>
		<dict>
			<key>work_fee</key>
			<string>办事费</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
		<key>130</key>
		<dict>
			<key>trans_fee</key>
			<string>速递费</string>
		</dict>
		<key>131</key>
		<dict>
			<key>trans_fee</key>
			<string>速递费</string>
		</dict>
		<key>132</key>
		<dict>
			<key>trans_fee</key>
			<string>速递费</string>
		</dict>
		<key>140</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>serve_tips</key>
			<string>叫车小费</string>
		</dict>
		<key>141</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>waiting_fee</key>
			<string>等候费</string>
		</dict>
		<key>142</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>waiting_fee</key>
			<string>等候费</string>
		</dict>
		<key>143</key>
		<dict>
			<key>daijia_fee</key>
			<string>代驾费</string>
			<key>waiting_fee</key>
			<string>等候费</string>
			<key>check_type</key>
			<string>商品金额</string>
		</dict>
		<key>150</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>151</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>152</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>153</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>154</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>160</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>161</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>162</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>163</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>164</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>170</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>171</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>172</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>174</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>leavefor_fee</key>
			<string>往返路费</string>
		</dict>
		<key>180</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>181</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>182</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>183</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>184</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>185</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
		</dict>
		<key>190</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代购金额</string>
			<key>goods_amount</key>
			<string>商品金额</string>
		</dict>
		<key>191</key>
		<dict>
			<key>trans_fee</key>
			<string>速递费</string>
		</dict>
		<key>192</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>waiting_fee</key>
			<string>等候费</string>
		</dict>
		<key>193</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>waiting_fee</key>
			<string>等候费</string>
		</dict>
		<key>194</key>
		<dict>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>work_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>挂号费用</string>
		</dict>
		<key>195</key>
		<dict>
			<key>work_fee</key>
			<string>办事费用</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
		<key>196</key>
		<dict>
			<key>work_fee</key>
			<string>办事费用</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
		<key>197</key>
		<dict>
			<key>work_fee</key>
			<string>办事费用</string>
			<key>serve_fee</key>
			<string>服务费用</string>
			<key>check_type</key>
			<string>代办金额</string>
		</dict>
	</dict>
</dict>
</plist>
