<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>homeKitchen</key>
	<dict>
		<key>remark</key>
		<string>家厨</string>
		<key>introduce</key>
		<array>
			<string>到达时间：</string>
			<string>所在地址：</string>
			<string>服务时间：</string>
			<string>需求描述：</string>
		</array>
		<key>bidding</key>
		<array>
			<string>服务费/小时</string>
			<string>往返路费</string>
		</array>
	</dict>
	<key>registered</key>
	<dict>
		<key>remark</key>
		<string>挂号</string>
		<key>introduce</key>
		<array>
			<string>医生级别：</string>
			<string>挂号日期：</string>
			<string>需求描述：</string>
		</array>
		<key>bidding</key>
		<array>
			<string>挂号费用</string>
			<string>挂号费用</string>
		</array>
	</dict>
	<key>keepClean</key>
	<dict>
		<key>remark</key>
		<string>保洁</string>
		<key>introduce</key>
		<array>
			<string>到达时间：</string>
			<string>所在地址：</string>
			<string>需求描述：</string>
		</array>
		<key>bidding</key>
		<array>
			<string>服务费/小时</string>
			<string>往返路费</string>
		</array>
	</dict>
	<key>massage</key>
	<dict>
		<key>remark</key>
		<string>按摩</string>
		<key>introduce</key>
		<array>
			<string>到达时间：</string>
			<string>所在地址：</string>
			<string>服务时间：</string>
			<string>需求描述：</string>
		</array>
		<key>bidding</key>
		<array>
			<string>服务费/小时</string>
			<string>往返路费</string>
		</array>
	</dict>
</dict>
</plist>
